/* Author: Gurjot Sandher
* Revision Date: 11/18/2021
* Summary: CSS for the RoomPage
*/
.room_page {
    display: grid;
    grid-template-columns: 15% 30% 10% 30% 15%;
    grid-template-rows: 15% 30% 10% 30% 15%;
    height: 100vh;
    width: 100vw;
    
}
.container_div {
    background-color: #37464f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_page {
    background-color: #2f3f47;
}

body {
    background-color: #2f3f47;
}

.card {
    background-color: #62717b;
}

.card-content {
    cursor: pointer; 
}

.color {
    background-color: #62717b;
}
.collection {
    background-color: #62717b;
}

h1 {
    color: whitesmoke;
}

 #boxcollection{
    
}


.rooms_container {
    background-color: azure;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    /* margin-right: 2em; */
}

.boxes_container {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: honeydew;
}

.add_room {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 50px 0px 0px 0px;
    height:50px;
    width: 300px;
    background-color: honeydew;
    border: honeydew;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
}

.add_room:hover {
    background-color: azure;
    color: green;
}

.rooms {
    align-self:stretch;
    height:100%;
    width: 100%;
    /* background-color: hotpink; */
}

.boxes {
    align-self:stretch;
    height:100%;
    width: 100%;
    /* background-color: hotpink; */
}



a {
    cursor: pointer;
    color: #ffa040;
}